<!--The content below is only a placeholder and can be replaced.-->
<head>
        <title>Startseite</title>
</head>


<body>
    
<div  style="text-align:center">
    <h1 style="font-size: 80px">
      Welcome to Hill Chart!
    </h1>
    <img src="assets/img/roche_logo3.png" width="400" height="210">

    <br>
    <br>
    <br>
    <a> To start the tool, please click the start button</a>
  </div>
  <br>
  <br>

  
  <div align= "center">
    <button mat-button color = #0174DF  [routerLink]="['diagram']"  > Start </button>
  
  </div>
  <div align = "center">
    <p>Work is like a hill with two sides. There's an uphill phase of figuring out what to do and how to approach the problem.
        That's the climb. After you reach the top, there aren't any more ruinous unknowns. You can see down to the other side and finish executing. 
        It's straightforward to estimate and finish the work from that point. </p>


  </div>

  
  
</body>
  <router-outlet></router-outlet>
  