<canvas id="diagram" height="400" width="750" style="border: 1px solid #b1b3b3">
    Your browser does not support HTML canvas
</canvas>

<div id="buttonDiv" align="center">

    <button mat-button class="button" [routerLink]="['../addTask']">
        new
    </button>

    <button mat-button class="button">
        edit
    </button>

    <button mat-button class="button" (click)="deleteTasks()">
        delete
    </button>

</div>

<br><br>

<div align="center">
    <table class="table" width=750px;>
        <tr>
            <th align="middle">ID</th>
            <th align="middle">Titel</th>
            <th align="middle">Beschreibung</th>
            <th align="middle">Fälligeitsdatum</th>
            <th align="middle">Farbe</th>
            <th align="middle">Position</th>
        </tr>
        <tr *ngFor="let task of tasks">
          <td align="middle">{{ task.id }}</td>
          <td align="middle">{{ task.title }}</td>
          <td align="middle">{{ task.description }}</td>
          <td align="middle">{{ task.date }}</td>
          <td align="middle" [style.color]="task.color">⬤</td>
          <td align="middle"> {{ task.position }} </td>      
        </tr> 
    </table>
</div>