<app-diagram [tasks]="taskService.tasks"></app-diagram>
<form id="form" [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
    <div>
        <label class="lbl" for="id">
        ID: 
        </label>
        <input class="input" id="id" type="number" formControlName="id">
    </div>
    <div>
        <label class="lbl" for="title" style="width: 100px">
        Title: 
        </label>
        <input class="input" id="title" type="text" formControlName="title">
    </div>
    <div>
        <label class="lbl" for="description">
        Description: 
        </label>
        <input class="input" id="description" type="text" formControlName="description">
    </div>
    <div>
        <label class="lbl" for="date">
        Date: 
        </label>
        <input class="input" id="date" type="text" formControlName="date">
    </div>    
    <div>
        <label class="lbl" for="color">
        Color: 
        </label>
        <input class="input" id="color" type="text" formControlName="color">
    </div>
    <div>
        <label class="lbl" for="position">
        Position: <br>(0 - 100)
        </label>
        <input class="input" id="position" type="number" formControlName="position">
    </div>
    <button mat-button class="button" type="submit">Add</button>
    
</form>