@import '~@angular/material/theming';

@include mat-core();

$map-values: 50 100 200 300 400 500 600 700 800 900 A100 A200 A400 A700;

$roche-blue: #06c;
$roche-red: #c03;
$roche-violet: #a05eb5;
$roche-green: #00965e;
$roche-yellow: #ffc72c;
$roche-orange: #ed8b00;
$roche-cyan: #00e5ef;

@function buildPalette($color, $contrastColor) {
$basic: ();
$contrast: ();

@each $v in $map-values {
$basic: map-merge($basic, ($v: $color));
}

@each $v in $map-values {
$contrast: map-merge($contrast, ($v: $contrastColor));
}

@return map-merge($basic, (contrast: $contrast));
}

$primary-palette: buildPalette($roche-blue, white);
$accent-palette: buildPalette($roche-orange, black);
$warn-palette: buildPalette($roche-red, black);

$primary: mat-palette($primary-palette);
$accent: mat-palette($accent-palette, A200, A100, A400);
$warn: mat-palette($warn-palette);


$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);